// Bootstrap 核心
@import "bootstrap/scss/functions";
@import "bootstrap/scss/mixins";

// 引入 Bootstrap
@import "bootstrap/scss/bootstrap";


.home-page {
  background: #0f1020;
  color: #fff;
  overflow: hidden;
}

/* HERO */
.hero-section {
  position: relative;
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-bg {
  position: absolute;
  inset: 0;
  background: url("https://images.unsplash.com/photo-1634221558053-3a617b5201d9?q=80&w=1174")
    center/cover no-repeat;
  z-index: 0;
}

.stars {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background: #fff;
  border-radius: 50%;
}

.hero-content {
  position: relative;
  max-width: 900px;
  padding: 0 20px;
  z-index: 2;

  h1 {
    font-size: clamp(2.5rem, 5vw, 4.5rem);
    font-weight: 800;
  }

  p {
    margin-top: 20px;
    font-size: 1.2rem;
    opacity: 0.85;
  }
}

.highlight {
  color: #ffd166;
}

/* BUTTON */
.btn-primary {
  margin-top: 40px;
  padding: 14px 40px;
  border-radius: 999px;
  background: #ffd166;
  color: #1a1a2e;
  font-weight: bold;
  border: none;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  transition: 0.3s;

  &:hover {
    box-shadow: 0 0 25px rgba(255, 209, 102, 0.8);
  }
}

.btn-outline {
  padding: 10px 30px;
  border-radius: 999px;
  border: 2px solid #5b5fef;
  color: #5b5fef;
  background: transparent;
  font-weight: bold;

  &:hover {
    background: #5b5fef;
    color: #fff;
  }
}

/* FEATURES */
.features-section {
  padding: 100px 20px;
  background: #f1ece9;
  color: #000;

  h2 {
    margin-bottom: 60px;
    font-weight: bold;
  }
}

.feature-card {
  padding: 30px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(45, 137, 17, 0.56);
  height: 100%;

  .icon {
    font-size: 40px;
    margin-bottom: 10px;
  }

  p {
    opacity: 0.7;
  }
}

/* STORY */
.story-section {
  background: #f8f9ff;
  color: #1a1a2e;
  padding: 100px 20px;

  p {
    color: #555;
  }
}

.story-img {
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.tag {
  font-weight: bold;
}

/* CTA */
.cta-section {
  padding: 120px 20px;
  text-align: center;
  background: #f0f0f0;
  color: #000;

  p {
    margin-top: 10px;
    margin-bottom: 30px;
    opacity: 0.8;
  }

  h2 {
    font-size: 2.5rem;
    font-weight: bold;
  }
}